# compiled python files
*.py[co]
__pycache__/*

# build artifacts
*.egg
*.egg-info
/build/

# editor files
\#*\#
*~

# jupyter
.ipynb_checkpoints/

# sphinx
/docs/_build/
/docs/reference/generated/

# distributed
dask-worker-space/
